
.icon-spin2:before { content: '\e807'; } /* '' */
.icon-plus-circle:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */