<div style="width: 440px;margin-top: 60px;">
    <div style="font-family: Segoe UI Light;text-align: center;font-size: 40px;line-height: 80px;">
        <%= message %>
    </div>
    <div style="text-align: center;">
        <img src="../images/cdc-logo.png" style="width: 80px;margin: 0px 10px 0px 10px;padding: 5px;border: 1px solid #7f8c8d;"><img src="../images/logoFUER_100.png" style="width: 80px;margin: 0px 10px 0px 10px;padding: 5px;  border: 1px solid #7f8c8d;"><img src="../images/H6.png" style="width: 80px;margin: 0px 10px 0px 10px;line-height: 100px;padding: 5px;  border: 1px solid #7f8c8d;">
    </div>
    <div style="text-align: center;font-family: Segoe UI Light;font-size: 39px;margin-top: 10px;">FU Exam Remimder</div>
    <div style="text-align: center;font-size: 18px;font-family: serif;margin-top: 16px;">"Đừng chết vì thiếu hiểu biết"</div>
</div>