<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="../images/favicon.ico"/>
    <title><%=title%></title>
    <link href="../stylesheets/StyleTerm.css" rel="stylesheet"/>
    <script src="../javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="../javascripts/termFunction.js" type="text/javascript"></script>

</head>
<body>
<div id="titleList">
    <div class="boxTitle" onclick="window.location.href = '/'">
            <svg id="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                <path class="fil0" d="M381 495l126 0 254 -126 -380 0 0 126zm0 252l254 -126 -254 0 0 126zm380 126l-508 0 0 -631 -254 126 0 631 508 0 254 -126z"></path>
                <path class="fil0" d="M628 228c20,1 40,6 58,14l45 0 30 0 0 28 0 40c5,9 9,19 12,29 4,13 6,27 7,41 22,0 44,0 66,0 1,-46 -11,-93 -38,-130 -40,-58 -109,-93 -180,-92 0,23 0,47 0,70z"></path>
                <path class="fil0" d="M618 77c97,0 193,50 249,130 37,53 57,118 56,183 25,0 51,0 76,0 1,-61 -12,-123 -40,-177 -36,-70 -92,-130 -162,-167 -55,-29 -117,-44 -179,-45 0,25 0,51 0,76z"></path>
            </svg>
            <div class="text">
                FUER
            </div>
        </div>
    <div class="boxTitle" id="t1" onclick="show('1')" style="background: #ffffff">
        <svg xmlns="http://www.w3.org/2000/svg" height="32px" version="1.1" viewBox="0 0 32 32" width="32px" style="height: 45px;">
            <g fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                <g id="icon-55-document-text">
                    <path d="M19,3 L9.0085302,3 C7.8992496,3 7,3.89833832 7,5.00732994 L7,27.9926701 C7,29.1012878 7.89092539,30 8.99742191,30 L24.0025781,30 C25.1057238,30 26,29.1090746 26,28.0025781 L26,11 L21.0059191,11 C19.8980806,11 19,10.1132936 19,9.00189865 L19,3 L19,3 Z M20,3 L20,8.99707067 C20,9.55097324 20.4509752,10 20.990778,10 L26,10 L20,3 L20,3 Z M10,10 L10,11 L17,11 L17,10 L10,10 L10,10 Z M10,7 L10,8 L17,8 L17,7 L10,7 L10,7 Z M10,13 L10,14 L23,14 L23,13 L10,13 L10,13 Z M10,16 L10,17 L23,17 L23,16 L10,16 L10,16 Z M10,19 L10,20 L23,20 L23,19 L10,19 L10,19 Z M10,22 L10,23 L23,23 L23,22 L10,22 L10,22 Z M10,25 L10,26 L23,26 L23,25 L10,25 L10,25 Z" id="document-text"></path>
                </g>
            </g>
        </svg>
        <div class="text">
            Điều khoản
        </div>
    </div>
    <div class="boxTitle" id="t2" onclick="show('2')">
        <svg xmlns="http://www.w3.org/2000/svg" width="197px" height="197px" viewBox="0 0 197 197" version="1.1" style="height:45px">
            <circle cx="98" cy="98" r="98"/>
            <circle cx="98" cy="98" r="78" fill="white"/>
            <circle cx="98" cy="98" r="55"/>
            <circle cx="98" cy="98" r="30" fill="white"/>
            <rect x="115" y="85" width="45" height="25" fill="white"/>
        </svg>
        <div class="text">
            Bản quyền
        </div>
    </div>
</div>
<div id="contentList">
      <span class="boxContent" id="c1" style="display: block">
             <div style="display: block;clear: both;vertical-align: top;background: #52bad5;">
                 <div style="padding-top: 72px;padding-bottom: 73px;">
                     <h1 class="page-title" style="margin-bottom: 0;padding-bottom: 0;color: white;margin-left: 20px">
                         Điều khoản dịch vụ FU Exam Reminder
                     </h1>
                     <em style="margin-bottom: 0;padding-bottom: 0;color: white;margin-left: 20px"> Sửa đổi lần cuối:
                         Ngày 03/08/2013</em>
                 </div>
             </div>
             <div style="margin-left: 20px;">
                 <div>
                     <p>
                         Chào mừng bạn đến với FU Exam Reminder
                     </p>

                     <p>
                         Cảm ơn bạn đã quan tâm đến dịch vụ của chúng tôi.Dịch vụ được cung cấp bởi CLB Cóc Dám Code,
                         thuộc trường đại học FPT, Hồ Chí Minh. Trụ sở tại Quận 12.
                     </p>

                     <p>
                         Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý ới các điều khoản này. Vui lòng đọc kỹ
                         các điều khoản này.
                     </p>

                     <h2>Các lưu ý khi sử dụng dịch vụ</h2>

                     <p>
                         Bạn sẽ nhận được lịch thi mới nhất (nếu có) ngay khi đăng ký thành công.
                     </p>

                     <p>
                         Đây không phải là dịch vụ được cung cấp bởi phòng đào tạo, Trường Đại học FPT Hồ Chí Minh, mà
                         chỉ sử dụng các tài nguyên được công khai trên trang web của Trường Đại học FPT
                         (http://cms-hcm.fpt.edu.vn), vì vậy chúng tôi không chịu trách nhiệm nếu có sai sót từ những
                         tài nguyên này.
                     </p>

                     <h2>Sử dụng dịch vụ của chúng tôi</h2>

                     <p>
                         Bạn phải tuân thủ mọi chính sách đã cung cấp cho bạn trong phạm vi Dịch vụ.
                     </p>

                     <p> Không được sử dụng trái phép Dịch vụ của chúng tôi. Ví dụ: không được gây trở ngại cho Dịch vụ
                         của chúng tôi hoặc tìm cách truy cập chúng bằng phương pháp nào đó không thông qua giao diện và
                         hướng dẫn mà chúng tôi cung cấp. Bạn chỉ có thể sử dụng Dịch vụ của chúng tôi theo như được
                         luật pháp cho phép, bao gồm cả các luật và quy định hiện hành về quản lý xuất khẩu và tái xuất
                         khẩu. Chúng tôi có thể tạm ngừng hoặc ngừng cung cấp Dịch vụ của chúng tôi cho bạn nếu bạn
                         không tuân thủ các điều khoản hoặc chính sách của chúng tôi hoặc nếu chúng tôi đang điều tra
                         hành vi bị nghi ngờ là sai phạm.</p>

                     <p>
                         Việc bạn sử dụng Dịch vụ của chúng tôi không có nghĩa là bạn được sở hữu bất cứ các quyền sở
                         hữu trí tuệ nào đối với Dịch vụ của chúng tôi hoặc nội dung mà bạn truy cập. Bạn không được
                         sử dụng nội dung từ Dịch vụ của chúng tôi trừ khi bạn được chủ sở hữu nội dung đó cho phép
                         hoặc được luật pháp cho phép. Các điều khoản này không cấp cho bạn quyền sử dụng bất kỳ thương
                         hiệu hoặc logo nào được sử dụng trong Dịch vụ của chúng tôi. Không được xóa, che khuất hoặc
                         thay đổi bất kỳ thông báo pháp lý nào được hiển thị trong hoặc kèm theo Dịch vụ của chúng tôi.
                     </p>

                     <p> Dịch vụ của chúng tôi hiển thị một số nội dung không phải của FU Exam Reminder. Chỉ một mình
                         đối tượng cung cấp sẽ chịu trách nhiệm về nội dung này. Chúng tôi có thể xem xét nội dung để
                         xác định xem nội dung đó có bất hợp pháp hoặc vi phạm chính sách của chúng tôi hay không, và
                         chúng tôi có thể xóa hoặc từ chối hiển thị nội dung mà chúng tôi có lý do chính đáng để tin
                         rằng nội dung đó vi phạm chính sách của chúng tôi hoặc luật pháp. Tuy nhiên, điều đó không nhất
                         thiết có nghĩa là chúng tôi sẽ xem xét nội dung, do vậy bạn đừng cho rằng chúng tôi sẽ làm như
                         vậy. </p>

                     <p>Liên quan đến việc bạn sử dụng Dịch vụ, chúng tôi có thể gửi cho bạn các thông báo dịch vụ,
                         thông báo quản trị và thông tin khác. Bạn có thể chọn không nhận các thông báo này.
                     </p>

                     <h2>Sửa đổi và chấm dứt Dịch vụ của chúng tôi</h2>

                     <p>
                         Chúng tôi không ngừng thay đổi và cải tiến Dịch vụ của mình. Chúng tôi có thể thêm hoặc xóa các
                         chức năng hoặc tính năng và chúng tôi cũng có thể tạm ngừng hoặc ngừng hoàn toàn một Dịch vụ.
                         Bạn có thể ngừng sử dụng Dịch vụ của chúng tôi bất kỳ lúc nào, mặc dù chúng tôi sẽ rất tiếc khi
                         bạn không còn sử dụng Dịch vụ của chúng tôi nữa. FU Exam Reminder cũng có thể ngừng cung cấp
                         Dịch vụ cho bạn hay thêm hoặc tạo ra những giới hạn mới cho Dịch vụ của chúng tôi bất kỳ lúc
                         nào.
                     </p>
                 </div>
             </div>
      </span>
    <span class="boxContent" id="c2">
          <div style="display: block;clear: both;vertical-align: top;background: #52bad5;">
              <div style="padding-top: 72px;padding-bottom: 72px;">
                  <h1 class="page-title" style="margin-bottom: 0;padding-bottom: 0;color: white;margin-left: 20px">
                      Bản quyền FU Exam Reminder
                  </h1>
                  <em style="margin-bottom: 0;padding-bottom: 0;color: white;margin-left: 20px"> Sửa đổi lần cuối:
                      Ngày 20/08/2014</em>
              </div>
          </div>
          <div style="margin-left: 20px;">
              <h2>Sở hữu</h2>

              <p>
                  Dịch vụ FU Exam Reminder dựa trên ý tưởng của các thành viên CLB Cóc Dám code.Và cuối cùng hoàn thiện
                  bởi 2 sinh viên SE sau đó 2 năm.
              </p>

              <p>
                  Dịch vụ FU Exam Reminder không thuộc sở hữu của bất kỳ cá nhân hoặc tổ chức nào mà chỉ là sản phẩm tự
                  phát với mã nguồn mở và không hạn chế người phát triển.
              </p>

              <h2>Phát triển</h2>

              <p>
                  Bất kỳ cá nhân hoặc tổ chức nào mong muốn phát triển dịch vụ có thể đề nghị nhóm phát triển thông qua
                  hình thức comment vào facebook ngay trên trang chính.
              </p>

              <h2>Thương mại</h2>

              <p>
                  Dịch vụ FU Exam Reminder tạo ra với mục đích phi thương mại. Nên sẽ không chấp nhận việc mua bán hay
                  sử dụng danh nghĩa dịch vụ trong các mục đích quảng cáo hoặc trao đổi đồng giá khác.
              </p>

              <h2>Tài nguyên</h2>

              <p>
                  Do tài nguyên của FU Exam Reminder được lấy từ trang http://cms-hcm.fpt.edu.vn, vậy nên dịch vụ có thể
                  dừng không báo trước nếu như nguồn cung cấp tài nguyên này chám dứt hoặc đứt quãng.
              </p>
          </div>
      </span>
</div>
</body>
</html>